* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: yellow;
}

/* HEADER */
header {
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #222;
  color: white;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  text-align: center;
}
/* ABOUT */
.about, .services {
  text-align: center;
  padding: 50px;
}

/* BOX */
.box {
  display: inline-block;
  background: white;
  padding: 20px;
  margin: 10px;
  width: 150px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
button {
  padding: 10px 25px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
